/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* yeseva-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/yeseva-one-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
}
h1 {
  font-family: "Yeseva One";
  font-size: 75px;
  font-weight: 400;
  padding-top: 413px;
  width: 611px;
  margin-right: 95px;
}
h2 {
  font-family: "Yeseva One";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.section-hero {
  width: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.wrapper {
  width: 100%;
  max-width: 1369px;
  margin: 0 auto;

  align-items: center;
  justify-content: center;
}
.hero-nav {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-nav-li {
  display: inline;
  margin: 0;
  margin-right: 80px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.hero-nav-li:hover {
  color: #00873e;
}
.hero-nav-li:last-child {
  margin-right: 0px;
}
.hero-nav-li img {
  position: absolute;
}
.logo {
  display: flex;
  align-items: flex-end;
}
.logo p {
  padding-bottom: 16px;
}
.top-nav {
  display: flex;
  height: 96px;
  margin-bottom: 24px;
  align-items: flex-end;
}
.buttons-hero {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.logo p {
  font-size: 22px;
  font-weight: 700;
}
.logo p span {
  color: #00873e;
  font-size: 22px;
  font-weight: 700;
}
.button-singup {
  font-size: 18px;
  font-weight: 700;
  background-color: #00873e;
  border-radius: 8px;
  color: #fff;
  width: 112px;
  height: 54px;
}
.button-singin {
  display: inline;
  background-color: transparent;
  margin: auto auto;
  font-size: 18px;
  font-weight: 700;
  margin-right: 32px;
}
.hero-description {
  width: 582px;
}
.hero-description p {
  line-height: 1.5;
  font-size: 22px;
  margin-bottom: 41px;
}
.hero-santa {
  border-radius: 25px;
  padding-top: 102px;
}
.hero-flexbox {
  display: flex;
  justify-content: space-between;
}
.btn_explore {
  font-size: 18px;
  font-weight: 700;
  background-color: #00873e;
  border-radius: 8px;
  color: #fff;
  padding: 14px 47px;
}

.img_light_bulb {
  position: absolute;
  padding-left: 1020px;
  margin-top: -55px;
  transform: rotate(4.787deg);
}
